.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  margin: 0 5pt;
}
.calibre1 {
  background-color: #E7E7E7;
  display: block;
  font-size: 1.375em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 0.67em 0;
  border: Black solid 1px;
}
.calibre2 {
  display: block;
  line-height: 1.2;
}
.calibre3 {
  display: block;
}
.calibre4 {
  line-height: 1.2;
}
.calibre5 {
  font-size: 0.90909em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre6 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre7 {
  font-style: italic;
}
.calibre8 {
  font-weight: bold;
}
.calibre9 {
  background-color: #EEE;
  display: block;
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 0.83em 0;
  border: Gray solid 1px;
}
.calibre10 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre11 {
  font-style: italic;
  line-height: 1.2;
}
.calibre12 {
  height: auto;
  width: auto;
}
.calibre13 {
  background-color: #F1F1F1;
  display: block;
  font-size: 1.125em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 1em 0;
  border: Silver solid 1px;
}
.calibre14 {
  background-color: #F4F4F4;
  display: block;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 1.33em 0;
  border: Gray solid 1px;
}
.calibre15 {
  background-color: #F4F4F4;
  display: block;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 1.67em 0;
  border: Gray solid 1px;
}
.calibre16 {
  display: block;
  text-align: center;
}
.calibre17 {
  color: Black;
  display: block;
  height: 2px;
  margin: 0.5em auto;
  border: currentColor inset 1px;
}
.calibre18 {
  background-color: #F4F4F4;
  display: block;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 1.33em 0;
  border: Gray solid 1px;
}
.paragraph {
  display: block;
  text-indent: 2em;
}
.subtitle {
  background-color: #F4F4F4;
  display: block;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 1.67em 0;
  border: Gray solid 1px;
}
